.nav-bar-logo {
    color: red;
    font-size: 22px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.nav-bar-logo:hover {
    cursor: pointer;
}

.nav-bar-container {
    border: 1px dotted lightgray;
    display: flex;
    justify-content: space-between;
}

.nav-bar-sign-in {
    padding: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-bar-sign-in:hover {
    background-color: lightgray;
    cursor: pointer;
}