.splash-container {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    border: 1px dotted blue;
}

.splash-welcome-banner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    border: 1px dotted red;
    align-self: center;
    padding: 20px;
    background-color: yellow;
}

.splash-welcome-msg {
    font-size: 22px;
    font-weight: 500;
}

.splash-img {
    height: 400px;
    width: 700px;
}