.splash-container {
    display: flex;
    padding-top: 20px;
    /* justify-content: space-between; */
    border: 1px dotted blue;
}

.splash-welcome-banner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: darkorchid;
    font-weight: bold;
    align-self: center;
    padding: 20px;
    background-color: yellow;
    z-index: 1;
}

.splash-welcome-msg {
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.splash-map-container {
    padding-left: 200px;
    z-index: 0;
}